<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS configuration file for Node.js applications using iisnode.
  This file hardens the server by disabling default pages, directory browsing,
  and suppressing identifying headers.
-->
<configuration>
  <system.webServer>
    <!-- Disable the default document module to prevent serving iisstart.htm -->
    <defaultDocument enabled="false" />

    <!-- Disable directory browsing -->
    <directoryBrowse enabled="false" />

    <handlers>
      <!-- Indicates that the server.js file is a node.js site to be handled by the iisnode module -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
        </rule>

        <!-- All other URLs are mapped to the node.js site entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- 'bin' directory is protected by default by IIS -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment=".idx" />
          <add segment="prisma" />
          <add segment=".env" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <httpProtocol>
      <customHeaders>
        <!-- Suppress identifying headers at the IIS level -->
        <remove name="X-Powered-By" />
        <remove name="Server" />
        <remove name="X-AspNet-Version" />
      </customHeaders>
    </httpProtocol>

    <!-- Ensure iisnode logs errors to the filesystem for debugging -->
    <iisnode watchedFiles="web.config;*.js" />
  </system.webServer>
</configuration>
